@page
@model Opencare.Pages.Groups.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Group</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Group.Name" class="control-label"></label>
                <input asp-for="Group.Name" class="form-control" />
                <span asp-validation-for="Group.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group.Room" class="control-label"></label>
                <input asp-for="Group.Room" class="form-control" />
                <span asp-validation-for="Group.Room" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group.MinAge" class="control-label"></label>
                <input asp-for="Group.MinAge" class="form-control" />
                <span asp-validation-for="Group.MinAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group.MaxAge" class="control-label"></label>
                <input asp-for="Group.MaxAge" class="form-control" />
                <span asp-validation-for="Group.MaxAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group.TeacherId" class="control-label"></label>
                <select asp-for="Group.TeacherId" asp-items="@(new SelectList(Model.Teachers, "Value", "Text"))">
                    <option value="">Unassigned</option>
                </select>
                <span asp-validation-for="Group.TeacherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
