@page
@model Opencare.Pages.Diapers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Diaper</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Diaper.id" />
            <div class="form-group">
                <label asp-for="Diaper.Time" class="control-label"></label>
                <input asp-for="Diaper.Time" class="form-control" />
                <span asp-validation-for="Diaper.Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Diaper.Wet" /> @Html.DisplayNameFor(model => model.Diaper.Wet)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Diaper.Dirty" /> @Html.DisplayNameFor(model => model.Diaper.Dirty)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Diaper.Note" class="control-label"></label>
                <input asp-for="Diaper.Note" class="form-control" />
                <span asp-validation-for="Diaper.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
