@page "{id}"
@model Opencare.Pages.Users.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.FirstName" class="control-label"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName" class="control-label"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email" class="control-label"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber" class="control-label"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PIN" class="control-label"></label>
                <input asp-for="Input.PIN" class="form-control" />
                <span asp-validation-for="Input.PIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.IsTeacher" class="control-label"></label>
                <input asp-for="Input.IsTeacher" class="form-control" />
                <span asp-validation-for="Input.IsTeacher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.IsAdmin" class="control-label"></label>
                <input asp-for="Input.IsAdmin" class="form-control" />
                <span asp-validation-for="Input.IsAdmin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.IsParent" class="control-label"></label>
                <input asp-for="Input.IsParent" class="form-control" />
                <span asp-validation-for="Input.IsParent" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}